<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>信息详情-沈阳太珩模具材料有限公司</title>
    <link rel="stylesheet" type="text/css" href="__XYSCSS__/base.css">
    <link rel="stylesheet" type="text/css" href="__XYSCSS__/index.css">
    <link rel="stylesheet" type="text/css" href="__XYSCSS__/aos.css">
</head>
<body>
<div class="main">
    <!--导航栏-->
    {include file="public/head"}
    <!--主体-->
    <div class="message-total"  data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">
        <div class="message-first">
            <div class="details-title">
                <a href="/" class="details-txt">首页></a>
                <a href="message" class="details-txt">信息></a>
                <a href="javascript:;" class="details-txt details-page">信息详情</a>
            </div>
        </div>
        <div class="message-second flex">
            <div class="message-left">
                <h1>{$info.title}</h1>
                <ul class="flex message-ul">
                    <li class="message-list">发布时间:{$info.create_time}</li>
                    <li class="message-list">编辑：{$info.author}</li>
                    <li class="message-list">标签：{$info.tag}</li>
                </ul>
                {$info.content}
            </div>
            <div class="message-right">
                <div class="message-relative">相关新闻</div>
                <div class="message-bottom">
                    {foreach $article as $vo}
                    <div class="message-txt">
                        <div class="message-build">{$vo.title}...</div>
                        <div class="message-speak">{$vo.description}</div>
                        <div class="message-time">时间：{$vo.create_time}</div>
                    </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
    <!--底部-->
    {include file="public/foot"}
</div>
<script type="text/javascript" src="__XYSJS__/jquery-1.11.3.js"></script>
<script type="text/javascript" src="__XYSJS__/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__XYSJS__/index.js"></script>
<script type="text/javascript" src="__XYSJS__/aos.js" charset="utf-8"></script>
<script type="text/javascript">jQuery(".nav").slide({ type:"menu",  titCell:".m", targetCell:".sub", effect:"slideDown", delayTime:300, triggerTime:100,returnDefault:true});</script>

<script type="text/javascript">
    AOS.init({
        easing:'ease-out-back',
        duration:800
    });

    document.body.addEventListener('touchstart',function(){
        var mobileHover=function(){
            $('*').on('touchstart',function(){
                $(this).trigger('hover');
            }).on('touched',function(){
                $(this).trigger('hover');
            })
        }
    });
</script>
</body>
</html>