<div class="header">
    <div class="header_logo">
        <a href="/Mobile"><img src="__XYSMIMG__/logo.jpg"></a>
    </div>
    <div class="header_menu_ico">
        <a><img src="__XYSMIMG__/tu2.jpg"></a>
    </div>
    <div class="clear"></div>

</div>

<div class="header_menu">
    <ul>
        <li><a href="/Mobile"><img src="__XYSMIMG__/nav_5.png" alt="" /><span>首页</span></a></li>
        <li><a href="/Mobile/VrModel"><img src="__XYSMIMG__/nav_6.png" alt="" /><span>VR样板间</span></a></li>
        <li><a href="/Mobile/Cases"><img src="__XYSMIMG__/nav_7.png" alt="" /><span>精品案例</span></a></li>
        <li><a href="/Mobile/Ensure/Technology"><img src="__XYSMIMG__/nav_9.png" alt="" /><span>工程工艺</span></a></li>
        <li><a href="/Mobile/Decorate"><img src="__XYSMIMG__/nav_8.png" alt="" /><span>装修课堂</span></a></li>
        <li><a href="/Mobile/Designers"><img src="__XYSMIMG__/nav_10.png" alt="" /><span>设计团队</span></a></li>
        <li><a href="/Mobile/Ensure"><img src="__XYSMIMG__/nav_11.png" alt="" /><span>品质保证</span></a></li>
        <li><a href="/Mobile/HuoDong"><img src="__XYSMIMG__/nav_12.png" alt="" /><span>聚焦活动</span></a></li>
        <li><a href="/Mobile/About"><img src="__XYSMIMG__/nav_13.png" alt="" /><span>关于苹果</span></a></li>
    </ul>
    <div class="clear"></div>
    <div class="xian_box">
        <span class="yue_xian"></span>
        <p>×</p>
    </div>
</div>

<script language="javascript" type="text/javascript">
    $(function () {

        $(".header_menu_ico").click(function () {
            $(".header_menu").show();
          
        });
        $(".header_menu p").click(function () {
            $(".header_menu").hide();
    
        });
    });
</script>