<style>
    .hover-c12{
        color:#4d4d4d;
    }
    .hover-c12 :hover{
        color: black;
    }
</style>
<div class="footer">
    <div class="footer-line"></div>
    <div class="footer-content">
        <div class="footer-left">
            <ul class="clear">
                <li class="lf">
                    <ul class="footer-list">
                        <li>推荐模具</li>
                        <li><a href="mproduct" class="hover-c12">Cr12MoV</a></li>
                        <li><a href="hproduct" class="hover-c12">H13(R)</a></li>
                        <li><a href="cproduct" class="hover-c12">Cr12</a></li>
                        <li><a href="dproduct" class="hover-c12">Skd11</a></li>
                        <li><a href="dcproduct" class="hover-c12">Dc53</a></li>
                    </ul>
                </li>
                <li class="lf">
                    <ul class="footer-list">
                        <li>售后服务</li>
                        <li><a href="contact" class="hover-c12">服务政策</a></li>
                    </ul>
                </li>
                <li class="lf">
                    <ul class="footer-list">
                        <li>推荐模具</li>
                        <li><a href="product" class="hover-c12">产品</a></li>
                    </ul>
                </li>
                <li class="lf">
                    <ul class="footer-list">
                        <li>关于我们</li>
                        <li><a href="product" class="hover-c12">品牌介绍</a></li>
                        <li><a href="message" class="hover-c12">新闻中心</a></li>
                        <li><a href="contact" class="hover-c12">加入太珩</a></li>
                        <li><a href="contact" class="hover-c12">联系我们</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer-right">
            <div class="footer-time">027-86430086</div>
            <div class="footer-day">周一至周日8:30-18:00</div>
            <div class="footer-day">
                <div class="footer-weibo"><a href="javascript:;">新浪微博</a></div>
                <div class="footer-wechat"><a href="javascript:;">官方微信</a></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">2015-2019.AII Right Reserved &nbsp;&nbsp; 辽ICP备14000294   &nbsp;&nbsp; 沈阳太珩模具材料有限公司   &nbsp;&nbsp;技术支持：安徽罗阁网络科技有限公司</div>
</div>
