
<!Doctype html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <title>鑫绎尚装修</title>
    <meta name="keywords" content="鑫绎尚装修" />
    <meta name="description" content="鑫绎尚装修" />
    <link href="__XYSCSS__/public.css?v=3.584" rel="stylesheet"/>

    <link href="__XYSCSS__/tanchuangfudong.css?v=2.5678" rel="stylesheet"/>

    <script src="__XYSJS__/jquery.js?v=1.8.2"></script>
    <script src="__XYSJS__/public.js?v=3.686"></script>
    <script src="__XYSJS__/uaredirect.js?v=1.0"></script>


    
    
    <link href="__XYSCSS__/insidepublic.css?v=1.0" rel="stylesheet"/>

    <script type="text/javascript">uaredirect("/Mobile/About");</script>

    <script language="javascript" type="text/javascript">var def = 1;</script>
    

    <!--[if (gte IE 6)&(lte IE 8)]>
      <script type="text/javascript" src="__XYSJS__/selectivizr.js"></script>
      <noscript><link rel="stylesheet" href="[fallback css]" /></noscript>
    <![endif]-->

    <script type="text/javascript" src="__XYSJS__/jquery.lazyload.js"></script>
    <script type="text/javascript" charset="utf-8">
      jQuery(function() {
          jQuery(".lazy").lazyload({
              placeholder: "__XYSIMG__/lazy.png",
              effect: "fadeIn"
           });
      });
    </script>
    
</head>
<body>

    

    <!--页面头部-->
    {include file="public/head"}

<div class="about_banner">
    <div class="container">
        <div class="about_left" style="display:none">
            <h2>整装产品</h2>
            <dl class="about_menu">
                <dd><a href="/About?NewsClass_Id=11"  class="hover">整装产品</a></dd>
                <!-- <dd><a href="/About?NewsClass_Id=12" >品牌历程</a></dd>
                <dd><a href="/About/News" >公司资讯</a></dd>
                <dd><a href="/About?NewsClass_Id=14" >资质荣誉</a></dd>
                <dd><a href="/About?NewsClass_Id=15" >加入我们</a></dd> -->

            </dl>
        </div>
        <div class="about_right" style="width:1120px;">
            <div class="about_right_top">
                <h2>整装产品</h2>
            </div>
            <div class="about_show">
                <p>
    <br />
</p>
<h2 style="text-align:center;">
    <span style="color:#017f40;font-size:28px;">整装产品<br />
<br />
</span> 
</h2>
<div>
    <div class="img">
        <img src="/Upload/News/month_1706/20170612100825909.jpg" alt="" /> 
    </div>
    <div class="img">
        <img src="/Upload/News/month_1706/201706121008591772.png" alt="" /> 
    </div>
    <div>
        <span>鑫绎尚装饰设计工程有限公司是一家集空间设计、装修、软装、集成为一体的装饰集团，2003年至今根据市场的不同需求，根据不同的品牌定位，鑫绎尚装饰集团完成了在家居全产业链的全方位布局。</span> 
    </div>
    <div class="img">
        <img src="/Upload/News/month_1706/201706121010039289.jpg" alt="" /><br />
    </div>
    <div>
        <span>家是具备成长性的，鑫绎尚装饰集团根据人在空间里使用的不同功能需求，完成了涵盖全服务链的品牌构建，2003-2013，鑫绎尚装饰的1.10时代专注工程质量，为数万户家庭提供高品质的装修服务。十年随之而来的优良口碑和声誉已然成为鑫绎尚装饰的核心竞争力，带动了中国家装行业的规范和发展，是业界中具有竞争力的家装集团之一。<br />
</span> 
        <p>
            <span><br />
</span> 
        </p>
    </div>
    <div class="img">
        <img src="/Upload/News/month_1706/201706121009123957.jpg" alt="" style="white-space:normal;" /> 
    </div>
    <div>
        <span>2014年进入鑫绎尚的2.10时代，鑫绎尚积极跨入互联网+家装时代。利用互联网做了很多大胆的尝试，与甲骨文合作利用CRM系统和信息化完善企业系统，与清华大学工业设计系针对以人在空间生活和使用为核心的产品研发。2016年在产品时代里，颠覆了传统家装模式，鑫绎尚装饰更将以产品+服务为基础，推出“当家”带保姆的整体家装以及首款全自助家装产品--任意装。<br />
<br />
</span> 
    </div>
    <div class="img">
        <br />
    </div>
    <div class="img">
        <br />
    </div>
    <div class="img">
        <img src="/Upload/News/month_1706/201706121011358284.png" alt="" /> 
    </div>
    <p>
        <img src="/Upload/News/month_1706/201706121011506149.png" alt="" /> 
    </p>
    <p>
        <br />
    </p>
</div>
<p>
    <br />
</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

    

    <!--页底-->
    {include file="public/foot"}




    <div style="display:none">
        <script src="https://s13.cnzz.com/z_stat.php?id=1262682453&web_id=1262682453" language="JavaScript"></script>
    </div>
</body>
</html>
w